*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    --over-view-height : 50px;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey; 
    border-radius: 5px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: grey; 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(91, 91, 91); 
  }

.container{
    width: 100vw;
    height:100vh;
    overflow:hidden;
}

.overview{
    height: var(--over-view-height);
    background-color: black;
}

.mainBody{
    height: calc(100vh - var(--over-view-height));
    width: 100vw;
    background-color: black;
    position: relative;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: scroll;
}